*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.acon{
    margin-top: 5%;
}

.al1{
     color: #ffa500;
}
.ap1{
    font-size: 16px;
}


/*..............responsive...............*/
@media only screen and (min-width: 320px) and (max-width: 768px){
    .acon{
    margin-top: 10%;
}
    .ah2{
        margin-top: 8%;
    }
    .ap1{
    font-size: 14px;
}
}